//colors
$color_primary: #212121;
$color_secondary: #673AB7;

$font-family_base: 'Rubik', sans-serif;
$font-size_base: 14px;


// font-family: 'Roboto', sans-serif;
 /* font-family: 'Rubik', sans-serif;*/
 /*font-family: 'Montserrat', sans-serif;*/